/* -------- Estilos del banner -------- */

.banner {
    margin-top: 5px;
    padding: 5px;
    background: rgba(255, 255, 255, .7);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
}

.banner__img {
    width: 100%;
    /*margin-top: 80px;*/
    opacity: 0.9;
    border: 1px solid rgba(0, 0, 0, .3);
    border-style: inset;
}

.banner__texto {
    margin-top: 10px;
}

.banner__titulo {
    font-family: Ubuntu;
    font-size: 35px;
    /*color: #004c4f;*/
    color: #18416B;
    text-align: center;
}

.banner__txt {
    font-family: Ubuntu;
    font-size: 25px;
    /*color: #004c4f;*/
    padding: 5px 0;
    color: #18416B;
    text-align: center;
}

